
p{
    color: black;
    font-family:arial black;
    font-weight: normal;
}
h2{
    letter-spacing: 2px;
}


b{
    color:black;
    
}
a{
    text-align: left;
    font-family: arial;
    text-decoration: none;
    color: white;
    font-weight: 900;
   
}
/* headingspart is for headings only*/
.headingspart{
    background-color: #b92b27;
    color: white;
    font-size: 13px;
    font-weight: normal;
    
    
}
.headingspart{
    font-size: 11px;
    text-align: center;
}
.headingspart:hover{
    color: #b92b27;
    background-color: whitesmoke;
}
.headingdivision{
    
    text-align: center;
}
/* rbutton is for all the buttons which have links... wont change the text style*/
.rbutton{
    font-size: 11px;
    background-color: #b92b27;
    color: whitesmoke;
}
.rbutton:hover {
   
    background-color: rgb(255, 183, 0);
}
.rbutton:active{
    background-color: white;
    color: rgb(255, 183, 0);
}
/* if a style changes the link name which appears will change*/
a:hover{
    color: #b92b27;
}

.imgdiv{
    text-align: center;
}
.imgbutton{
    background-color: #b92b27;
}
.imgbutton:hover{
    background-color: rgb(116, 115, 115);

}